
.topContainer {
  display: flex;
  justify-content: space-between;
  /* background-color: yellow; */
  width: 100%;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  width: 100%;
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
}

.primaryTextContainer {
  background-color: white;
  margin: 20px;
  padding: 20px;
  width: calc(33.33% - 40px); /* 1/3 of the overall width, considering margins */
}

.secondaryTextContainer {
  background-color: white;
  margin: 20px;
  padding: 20px;
  width: calc(33.33% - 40px); /* 1/3 of the overall width, considering margins */
}

.tertiaryTextContainer {
  background-color: white;
  margin: 20px;
  padding: 20px;
  width: calc(66.66% - 40px); /* 2/3 of the overall width, considering margins */
}

.photoContainer {
  display: flex;
  align-items: center;
  /* background-color: pink; */
  padding: 10px;
  margin: 20px;
  width: calc(66.66% - 40px); /* 2/3 of the overall width, considering margins */
}

img {
  width: 100%;
  height: auto;
  border-radius: 50px;
}
