.homeContainer {
  display: flex;
  justify-content: space-between;
  background-color: aqua;

}

.textContainer {
  background-color: white;
  padding: 30px;
  margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 600px;
}
/* 
h1 {
  text-align: justify;
} 
*/

.text {
  font-size: 42px;
}

.photoContainer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: pink;
  padding: 30px;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  width: 800px;
  height: auto; /* Maintain aspect ratio */
  border-radius: 50px;
}
