/* .gradientLayer {
  width: 100%;
  height: 300px; 
  position: sticky;
  background-image: linear-gradient(to bottom, #FFD6B1, rgba(255, 255, 255, 0));
  top: 150px; 
  z-index: -1; 
} */

/* .text{
  position: relative;
  z-index: -2;
} */