.active {
    background-color: white;
}

nav {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbarTop,
.navbarBottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
}

.navbarTop {
    background-color: #FFD6B1;
}

.navbarBottom {
    background-image: linear-gradient(to bottom, #FFD6B1, rgba(255, 255, 255, 0));
}

.gradientLayer {
    width: 100%;
    height: 300px;
    position: absolute;
    background-color: magenta;
    top: 150px;
}

.logoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 2500px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    z-index: 2;
}


/* ... other styles remain unchanged ... */

@media (max-width: 480px) {
    /* ... media query styles remain unchanged ... */
}


.logo {
    width: 200px;
}

.navItemsContainer {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    /* background-color: pink; */
    position: sticky;
    margin-top: 50px;
}

nav .title {
    
    font-size: 1.6rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
    background-color: pink;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: black;
    border-radius: 0.2rem;
}

.vertical-line {
    border-left: 2px solid black; /* Adjust the color and thickness as needed */
    height: 30px; /* Adjust the height of the vertical line */
    margin: 0 10px; /* Adjust the margin as needed */
  }



@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}